@model FourthCoffee.Models.Product

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CreationDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CreationDate)
    @Html.ValidationMessageFor(model => model.CreationDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ExpirationDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ExpirationDate)
    @Html.ValidationMessageFor(model => model.ExpirationDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.QtyOnHand)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.QtyOnHand)
    @Html.ValidationMessageFor(model => model.QtyOnHand)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ImageName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ImageName)
    @Html.ValidationMessageFor(model => model.ImageName)
</div>

<div class="editor-label">
    Category
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.CategoryId, ((IEnumerable<FourthCoffee.Models.Category>)ViewBag.PossibleCategories).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.CategoryId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.CategoryId)
</div>
